# *_erp groups are groups of ERP boards, with the same user and passwords
# all_erp is a meta-group that contains all erp boards.

[local]
localhost ansible_connection=local

[cambridge_erp]
# Cambridge Lab
cb-r1-crb1s-02 ansible_host=192.168.0.100
cb-r2-d03-04 ansible_host=192.168.0.101
cb-r2-d05-01 ansible_host=192.168.0.102
cb-r2-d05-03 ansible_host=192.168.0.103
cb-r1-m1-c33n1 ansible_host=192.168.0.104
cb-r1-m1-c34n1 ansible_host=192.168.0.105

[open_estuary_erp]
# Open Estuary Lab
oe-d03-251 # Connection parameters in ~/.ssh/config

[all_erp:children]
# All erp hosts
cambridge_erp
open_estuary_erp

[erp-drue]
# Specific run group consisting of already defined hosts
cb-r1-crb1s-02 # ThunderX
cb-r2-d03-04 # D03
cb-r2-d05-01 # D05
cb-r1-m1-c33n1 # Moonshot
